* {
    margin: 0px;
    padding: 0px;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.navigation-bar2 {
    background-color: darkturquoise;
}

.ion-navicon {
    margin-top: 150px;
}

.small-img {
    width: 150px;
}

.small-img img {
    max-width: 100%;
    
}

hr {
    margin: 0px;
}

.row + hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

button + hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-content {
    justify-content: center;
}

.center-padding {
    display: block;
    padding-right: auto;
    padding-left: auto;
}

.mb-20 {
    margin-bottom: 20px;
}


/*estilo login*/

.body-login {
    background: url("../images/img1.jpg") no-repeat center center fixed;
	background-size: cover;
   
	font-size: 16px;
	font-family: 'Lora', serif;
	font-weight: 300;
	margin: 0;
	color: #666;
	
}

.top {
    
	margin: 0;
	padding: 0;
	width: 100%;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.6) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.6) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

}


.login-box {
	background-color: white;
	max-width: 340px;
	margin: 0 auto;
	position: relative;
	top: 80px;
	padding-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0 5px 50px rgba(0,0,0,0.4);
	text-align: center;
}

.login-box .box-header {
	background-color: #665851;
	margin-top: 0;
	border-radius: 5px 5px 0 0;
}

.login-box label {
	font-weight: 700;
	font-size: .8em;
	color: #888;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 2em;
}

.login-box input {
	margin-bottom: 20px;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 2px;
	font-size: .9em;
	color: #888;
}

.login-box input:focus {
	outline: none;
	border-color: #665851;
	transition: 0.5s;
	color: #665851;
}

.login-box button {
	margin-top: 0px;
	border: 0;
	border-radius: 2px;
	color: white;
	padding: 10px;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 0.7em;
	letter-spacing: 1px;
	background-color: #665851;
	cursor:pointer;
	outline: none;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.login-box button:hover {
	opacity: 0.7;
	transition: 0.5s;
}

.selected {
	color: #665851!important;
	transition: 0.5s;
}

/* Animation Delay */
#logo {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 2s;
}

.login-box {
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}