* {
    margin: 0px;
    padding: 0px;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-content: center;s
    flex-direction: column;
}








.row + hr {
    margin-top: 20px;
    margin-bottom: 20px;
}


button + hr {
    margin-top: 20px;
    margin-bottom: 20px;
}

.center-content {
    justify-content: center;
}

.center-padding {
    display: block;
    padding-right: auto;
    padding-left: auto;
}

.mb-20 {
    margin-bottom: 20px;
}


/*estilo login*/

.body-login {
    background: url("../images/img4.jpg") no-repeat center center fixed;
	background-size: cover;

	font-size: 16px;
	font-family: 'Lora', serif;
	font-weight: 300;
	margin: 0;
	color: #2E86C1;

}
