
/*color de linea entre seccion de tabla*/
.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

  /*si se aumenta se añade linea en el tope*/
.table-user-information > tbody > tr:first-child
{
    border-top: 0;
}

/*si se aumenta se añade linea en el tope*/
.table-user-information > tbody > tr > td
 {
    border-top: 0;

}

/*margen superior afecta tabla de datos*/
.toppad
{
  margin-top:20px;
}

/*carga imagen y tamaño auto*/
.body-img
{
    background-image: url("../images/img3.jpg");
    background-size: auto;
}
