<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory> 
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="connection.driver_class">org.postgresql.Driver</property>
		<property name="connection.url">jdbc:postgresql://localhost:5432/Kaizenware</property>
		<property name="connection.username">postgres</property>
		<property name="connection.password">postgres</property>		
		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>		
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="current_session_context_class">thread</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		        
      <mapping class="modelo.dto.Rol" />
      <mapping class="modelo.dto.Usuario" />
       
    </session-factory>

</hibernate-configuration>